@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Gabarito&family=Heebo:wght@500&family=Josefin+Sans:wght@500&family=Kanit&family=Lato&family=Oswald&family=Sofia+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background:url(/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
}
nav{
        font-family: 'Barlow Condensed', sans-serif;
       font-family: 'Gabarito', sans-serif;
       font-family: 'Heebo', sans-serif;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Kanit', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
}
.nav {
    --bs-nav-link-hover-color: #ff9900;
    margin-bottom: 9   px;
}
.navbar-brand{
   color: white;
   cursor:pointer;
}
.navbar-brand:hover{
color:white;
font-weight: 400;
}
.nav-span{
    color: orange;
}
nav ul{
    margin-left: 8rem;
    /* margin-left: 11rem; */
    justify-content: center
}
nav ul li .nav-link{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: underline;
}
nav ul li .nav-link:hover{
    color: orange;
    font-weight: 700;
}
.nav-btn {
background:rgb(255, 179, 0);
border-radius: 5px;
border: none;
color: white;
letter-spacing:1px;
font-weight: 300;
padding:4px 12px;
/* margin-left: 10rem; */
}
.nav-btn:hover{
    transition: 1.5s;
    padding:4px 20px;
    color: rgb(255, 255, 255);
    font-weight:bolder;
}
