@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Gabarito&family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Kanit&family=Lato&family=Oswald&family=Sofia+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    background:url(/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}
.nav {
    --bs-nav-link-hover-color: #ff9900;
    margin-bottom: 9px;
}
.col-2{
    width: auto;
}
.navbar-brand{
   color: white;
   cursor:pointer;
}
.navbar-brand:hover{
color:white;
font-weight: 400;
}
.nav-span{
    color: orange;
}
nav ul{

    justify-content: center
}
nav ul li .nav-link{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: underline;
    margin-left: 15px;
}
nav ul li .nav-link:hover{
    color: orange;
    font-weight: 700;
}
.nav-btn {
background:rgb(255, 179, 0);
border-radius: 5px;
border: none;
color: white;
letter-spacing:1px;
font-weight: 300;
padding:4px 12px;
}
.nav-btn:focus{
    /* outline: none; */
    border-color:  orange;
    box-shadow: 0 0 10px  orange
                0 0 20px  orange
                0 0 30px  orange;
}
.nav-btn:hover{
    transition: 1.5s;
    color: rgb(255, 179, 0);
    background-color: rgb(43, 40, 40);
    /* border: 1px solid orange; */
    font-weight:bolder;
}
.menue-icon{
    color: #ffa600;
}
/* --------------------------------------------Responsive Nav------------------------------------------------------------ */
.main-content{
    color: white;
    margin-top: 10rem;
}
p{
    margin-bottom: 4px;
}
.fw-bolder span{
    color:orange;
}
.btn,input{
    margin-top: 1rem;
}
.main-srch-btn {
    border-radius: 60px;
    position:relative;
    right: 6rem;
    padding: 4px 20px;
    background-color: orange;
    border-color: orange;
}
.main-srch-btn:hover{
    background-color: orange;
    border-color: orange;
    box-shadow: 0 0 20px  orange;
}
input.srch.btn{
    cursor: text;
    border-radius: 60px;
    padding-right: 7rem;
}
input.srch.btn:hover{
    border-color:  orange;
    box-shadow: 0 0 10px  orange;
}
input.srch.btn:focus{
    outline: none;
    border-color:  orange;
    box-shadow: 0 0 10px  orange;
}
/* ---------------------------------------Main-Content-End----------------------------------------------- */

.container-1{
    min-height: 100vh;
    width:100%;
    overflow-x: hidden;
    background-color: rgb(46, 45, 45);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.content h1{
    color: #ffffff;
    font-size: 50px;
}
.content{
    display: none;
}
.content-box{
   margin-top: 5rem;
   margin-left:4rem;
}
.content-section{
margin-left: 19rem;
color:white;
margin-top: 2rem;
}
.about-image{
    float: left;
}
img{
    width: 16rem;
}
.second-heading{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.txt{
    margin-top: 1rem;
    font-size: 15px;
}
.about-btn{
    border-radius: 60px;
    padding: 4px 15px;
    color: white;
    background-color: orange;
    border-color: orange;
}
.about-btn:hover{
    border-color: orange;
    background-color: rgb(46, 45, 45);
    color: rgb(255, 255, 255);
}
/* -------------------------------------------------------------About-End------------------------------------------------------------------------------ */
.services{
    min-height: 100vh;
    width:100%;
    overflow-x: hidden;
    background-color:rgb(0, 0, 0);
}
.heading-1{
    text-align: center;
    margin-top: 2rem;
}
.heading-1 h1{
font-weight: bolder;
font-size: 3rem;
color: white;
}
.card {
    height: 18rem;
    margin-left: 1.5rem;
    background-color: rgba(255, 255, 255, 0.152); 
    color: rgb(255, 255, 255);
    border-radius: 9px;
}
.card-content-1,
.card-content-2,
.card-content-3{
    display: flex;
    align-items: center;
}

.card{
    height: 18rem;
    width: 18rem;
    margin-left: 1.8rem;
}
.card .fa{
    font-size:40px;
    color: orange;
    margin-top: 2rem;
}
.s-heading {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.card-body{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 11px;
}
.card .fa{
    display: inline-flex;
    justify-content: center;
}
.service-btn{
    border-radius: 60px;
    padding: 4px 15px;
    color: white;
    background-color: orange;
    border-color: orange;
}
.service-btn:hover{
    border-color: orange;
    background-color: rgb(46, 45, 45);
    color: rgb(255, 255, 255);
}
/* ======================================================================Hire============================================================================= */
.hire{
    min-height: 40vh;
    width:100%;
    overflow-x: hidden;
    background-color: rgb(46, 45, 45);
}
.hire-btn{
    border-radius: 60px;
    padding: 4px 20px;
    color: white;
    background-color: orange;
    border-color: orange;
}
.hire-btn:hover{
    border-color: orange;
    background-color: rgb(46, 45, 45);
    color: rgb(255, 255, 255);
}
.hire-con{
    margin-top: 4rem;
}
.hire-main{
    display: flex;
    justify-content:center;
    color: white;
}
.hire-main p{
    font-weight: bolder;
    font-size: 1.25rem;
}
.hire-btn-1{
    display: flex;
    justify-content: center;
}

/* ============================================================================ */
.con{
    min-height: 30vh;
    width:100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}
.container{
    margin-top: 12px;
}
.main-tag{
    display:flex;
    justify-content: center;
    color: white;
}
.main-tag p{
    font-size: 1.25rem;
    font-weight: bold;
}
.con-content{
    display: flex;
    justify-content: center;
    color: white;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn-1{
    border-radius: 20px;
    background-color: orange;
    margin-left: 2px;
}
.btn:hover{
    background-color: black;
}
.btn-1 i{
    padding-top: 1px

}